In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
deliveries = pd.read_csv(r'E:\Data_Sci\DATA\deliveries.csv')
matches = pd.read_csv(r'E:\Data_Sci\DATA\matches.csv')

In [3]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
venue_mat=matches[['id','venue']]

In [6]:
venue_mat['id_2']=venue_mat['id']
venue_mat

<ipython-input-6-1191d396d520>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  venue_mat['id_2']=venue_mat['id']

      id                                             venue  id_2
0      1         Rajiv Gandhi International Stadium, Uppal     1
1      2           Maharashtra Cricket Association Stadium     2
2      3            Saurashtra Cricket Association Stadium     3
3      4                            Holkar Cricket Stadium     4
4      5                             M Chinnaswamy Stadium     5
..   ...                                               ...   ...
631  632  Shaheed Veer Narayan Singh International Stadium   632
632  633                             M Chinnaswamy Stadium   633
633  634                                  Feroz Shah Kotla   634
634  635                                  Feroz Shah Kotla   635
635  636                             M Chinnaswamy Stadium   636

[636 rows x 3 columns]

In [7]:
deliveries.loc[deliveries['player_dismissed'].isnull() & deliveries['fielder'].notnull() ]

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

[0 rows x 21 columns]

In [8]:
deliveries['team_score'] = deliveries.groupby(['match_id','inning'])['total_runs'].cumsum()

In [9]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,team_score
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,4,0,4,NaN,NaN,NaN,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,NaN,NaN,NaN,4
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,2,2,NaN,NaN,NaN,6

In [10]:
deliveries[(deliveries['match_id']==1) & (deliveries['inning']==1) & (deliveries['over']==20) & (deliveries['ball']==6)]['team_score']

124    207
Name: team_score, dtype: int64

In [11]:
deliveries['out_ind'] = deliveries['player_dismissed'].notnull()
deliveries['wicket_fallen'] = deliveries.groupby(['match_id','inning'])['out_ind'].cumsum()

In [12]:
deliveries['id_2']=deliveries['match_id']
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,team_score,out_ind,wicket_fallen,id_2
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,False,0,1
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,False,0,1
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,4,0,4,NaN,NaN,NaN,4,False,0,1
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,4,False,0,1
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,2,2,NaN,NaN,NaN,6,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,2,0,2,NaN,NaN,NaN,194,False,6,636
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,CJ Jordan,run out,NV Ojha,194,True,7,636
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,1,NaN,NaN,NaN,195,False,7,636
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,1,0,1,NaN,NaN,NaN,196,False,7,636
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,4,0,4,NaN,NaN,NaN,200,False,7,636

In [13]:
deliveries.head(20)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,team_score,out_ind,wicket_fallen,id_2
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,False,0,1
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,0,False,0,1
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,4,0,4,NaN,NaN,NaN,4,False,0,1
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,4,False,0,1
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,2,2,NaN,NaN,NaN,6,False,0,1
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,NaN,NaN,NaN,6,False,0,1
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,1,NaN,NaN,NaN,7,False,0,1
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,1,0,1,NaN,NaN,NaN,8,False,0,1
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,4,0,4,NaN,NaN,NaN,12,False,0,1
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,1,1,NaN,NaN,NaN,13,False,0,1
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,6,0,6,NaN,NaN,NaN,19,False,0,1
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,DA Warner,caught,Mandeep Singh,19,True,1,1
12,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,6,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,NaN,NaN,NaN,19,False,1,1
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,4,0,4,NaN,NaN,NaN,23,False,1,1
14,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,1,S Dhawan,MC Henriques,TS Mills,0,...,1,0,1,NaN,NaN,NaN,24,False,1,1
15,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,2,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,24,False,1,1
16,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,3,MC Henriques,S Dhawan,TS Mills,0,...,0,0,0,NaN,NaN,NaN,24,False,1,1
17,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,4,MC Henriques,S Dhawan,TS Mills,0,...,3,0,3,NaN,NaN,NaN,27,False,1,1
18,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,5,S Dhawan,MC Henriques,TS Mills,0,...,1,0,1,NaN,NaN,NaN,28,False,1,1
19,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,3,6,MC Henriques,S Dhawan,TS Mills,0,...,1,0,1,NaN,NaN,NaN,29,False,1,1

In [14]:
temp_df = deliveries.groupby(['match_id', 'inning'])['total_runs'].sum().reset_index()
temp_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1279       634       2         140
1280       635       1         162
1281       635       2         163
1282       636       1         208
1283       636       2         200

[1284 rows x 3 columns]

In [15]:
temp_df=temp_df[temp_df['inning']==2]
temp_df

      match_id  inning  total_runs
1            1       2         172
3            2       2         187
5            3       2         184
7            4       2         164
9            5       2         142
...        ...     ...         ...
1275       632       2         139
1277       633       2         159
1279       634       2         140
1281       635       2         163
1283       636       2         200

[634 rows x 3 columns]

In [16]:
deliveries_2=deliveries[deliveries['inning']==2]
deliveries_2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,team_score,out_ind,wicket_fallen,id_2
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,1,0,1,NaN,NaN,NaN,1,False,0,1
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,NaN,NaN,NaN,1,False,0,1
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,NaN,NaN,NaN,1,False,0,1
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,2,0,2,NaN,NaN,NaN,3,False,0,1
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,4,0,4,NaN,NaN,NaN,7,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,2,0,2,NaN,NaN,NaN,194,False,6,636
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,CJ Jordan,run out,NV Ojha,194,True,7,636
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,1,NaN,NaN,NaN,195,False,7,636
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,1,0,1,NaN,NaN,NaN,196,False,7,636
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,4,0,4,NaN,NaN,NaN,200,False,7,636

In [17]:
left = deliveries_2.set_index(['match_id', 'inning'])
right = temp_df.set_index(['match_id', 'inning'])

del_2=left.join(right, lsuffix='_CAN', rsuffix='_UK')

In [18]:
del_2

                                batting_team         bowling_team  over  ball  \
match_id inning
1        2       Royal Challengers Bangalore  Sunrisers Hyderabad     1     1
         2       Royal Challengers Bangalore  Sunrisers Hyderabad     1     2
         2       Royal Challengers Bangalore  Sunrisers Hyderabad     1     3
         2       Royal Challengers Bangalore  Sunrisers Hyderabad     1     4
         2       Royal Challengers Bangalore  Sunrisers Hyderabad     1     5
...                                      ...                  ...   ...   ...
636      2       Royal Challengers Bangalore  Sunrisers Hyderabad    20     2
         2       Royal Challengers Bangalore  Sunrisers Hyderabad    20     3
         2       Royal Challengers Bangalore  Sunrisers Hyderabad    20     4
         2       Royal Challengers Bangalore  Sunrisers Hyderabad    20     5
         2       Royal Challengers Bangalore  Sunrisers Hyderabad    20     6

                       batsman    non_striker   bowler  is_super_over  \
match_id inning
1        2            CH Gayle  Mandeep Singh  A Nehra              0
         2       Mandeep Singh       CH Gayle  A Nehra              0
         2       Mandeep Singh       CH Gayle  A Nehra              0
         2       Mandeep Singh       CH Gayle  A Nehra              0
         2       Mandeep Singh       CH Gayle  A Nehra              0
...                        ...            ...      ...            ...
636      2         Sachin Baby      CJ Jordan  B Kumar              0
         2         Sachin Baby      CJ Jordan  B Kumar              0
         2       Iqbal Abdulla    Sachin Baby  B Kumar              0
         2         Sachin Baby  Iqbal Abdulla  B Kumar              0
         2       Iqbal Abdulla    Sachin Baby  B Kumar              0

                 wide_runs  bye_runs  ...  extra_runs  total_runs_CAN  \
match_id inning                       ...
1        2               0         0  ...           0               1
         2               0         0  ...           0               0
         2               0         0  ...           0               0
         2               0         0  ...           0               2
         2               0         0  ...           0               4
...                    ...       ...  ...         ...             ...
636      2               0         0  ...           0               2
         2               0         0  ...           0               0
         2               0         0  ...           1               1
         2               0         0  ...           0               1
         2               0         0  ...           0               4

                 player_dismissed  dismissal_kind  fielder  team_score  \
match_id inning
1        2                    NaN             NaN      NaN           1
         2                    NaN             NaN      NaN           1
         2                    NaN             NaN      NaN           1
         2                    NaN             NaN      NaN           3
         2                    NaN             NaN      NaN           7
...                           ...             ...      ...         ...
636      2                    NaN             NaN      NaN         194
         2              CJ Jordan         run out  NV Ojha         194
         2                    NaN             NaN      NaN         195
         2                    NaN             NaN      NaN         196
         2                    NaN             NaN      NaN         200

                out_ind wicket_fallen id_2  total_runs_UK
match_id inning
1        2        False             0    1            172
         2        False             0    1            172
         2        False             0    1            172
         2        False             0    1            172
         2        False             0    1            172
...                 ...           ...  ...            ...
636      2        False             6  636            200
         2         True             7  636            200
         2        False             7  636            200
         2        False             7  636            200
         2        False             7  636            200

[72350 rows x 24 columns]

In [19]:
left = del_2.set_index(['id_2'])
right = venue_mat.set_index(['id'])

del_3=left.join(right, lsuffix='_CAN', rsuffix='_UK')

In [20]:
del_3

,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,...,total_runs_CAN,player_dismissed,dismissal_kind,fielder,team_score,out_ind,wicket_fallen,total_runs_UK,venue,id_2
1,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,0,0,...,1,NaN,NaN,NaN,1,False,0,172,"Rajiv Gandhi International Stadium, Uppal",1
1,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,0,0,...,0,NaN,NaN,NaN,1,False,0,172,"Rajiv Gandhi International Stadium, Uppal",1
1,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,0,0,...,0,NaN,NaN,NaN,1,False,0,172,"Rajiv Gandhi International Stadium, Uppal",1
1,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,0,0,...,2,NaN,NaN,NaN,3,False,0,172,"Rajiv Gandhi International Stadium, Uppal",1
1,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,0,0,...,4,NaN,NaN,NaN,7,False,0,172,"Rajiv Gandhi International Stadium, Uppal",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,0,0,...,2,NaN,NaN,NaN,194,False,6,200,M Chinnaswamy Stadium,636
636,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,0,0,...,0,CJ Jordan,run out,NV Ojha,194,True,7,200,M Chinnaswamy Stadium,636
636,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,0,0,...,1,NaN,NaN,NaN,195,False,7,200,M Chinnaswamy Stadium,636
636,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,0,0,...,1,NaN,NaN,NaN,196,False,7,200,M Chinnaswamy Stadium,636
636,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,0,0,...,4,NaN,NaN,NaN,200,False,7,200,M Chinnaswamy Stadium,636

In [21]:
del_3.columns

Index(['batting_team', 'bowling_team', 'over', 'ball', 'batsman',
       'non_striker', 'bowler', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs_CAN', 'player_dismissed', 'dismissal_kind',
       'fielder', 'team_score', 'out_ind', 'wicket_fallen', 'total_runs_UK',
       'venue', 'id_2'],
      dtype='object')

In [22]:
del_3.to_csv(r'E:\Data_Sci\DATA\2nd_innings.csv')